.site-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}

.mat-sidenav-container {
  .mat-sidenav {
    width: 18rem;
    border-right: none;

    .menu-titlebar {
      outline: none;
      .banner {
        display: flex;
        align-items: center;
        user-select: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: 2.5rem;
    
        .logo {
          width: 2rem;
          height: 2rem;
          background-size: contain;
        }
        .title {
          margin-left: 1rem;
          font-weight: 400;
        }
      }
    }
    
    .menu-item {
      .title {
        margin-left: 1rem;
      }
      &.active {
        background-color: #ffffff22;
      }
    }
  }
  
  .mat-sidenav-content {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    
    .site-header {
      justify-content: space-between;
      background-color: #303030;
      flex-shrink: 0;
    
      .section {
        display: flex;
        align-items: center;
    
        .item {
          &.user {
            display: flex;
            align-items: center;
            cursor: pointer;
    
            .username {
              font-weight: 300;
              margin: 0 1rem;
            }
            .profile-picture {
              height: 3rem;
              width: 3rem;
              border-radius: 50%;
    
              &--placeholder {
                font-size: 3rem;
                line-height: 3rem !important;
              }
            }
          }
          &.menu-button {
            margin-right: 16px;
          }
          &.title {
            font-weight: 400;
          }
        }
      }
    }

    main {
      flex-grow: 1;
      
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    
      .content {
        flex-grow: 1;
      }
    }    
  }
}
