<mat-progress-bar mode="query" class="site-loading" color="warn"
  [class.visible]="commonService.isLoading | async"></mat-progress-bar>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    [mode]="(commonService.isHandset$ | async) ? 'over' : 'side'"
    [fixedInViewport]="true"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
    [opened]="!(commonService.isHandset$ | async)">
    <mat-toolbar matRipple class="menu-titlebar" [class.handset]="commonService.isHandset$ | async" routerLink="/"
      color="primary"
      (click)="onMenuItemClick()">
      <button mat-icon-button
        (click)="onMenuButtonClick(); $event.stopPropagation()"
        *ngIf="commonService.isHandset$ | async">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div class="banner">
        <img class="logo" *ngIf="!(commonService.isHandset$ | async)" src="../../../assets/img/boltz-logo.svg" />
        <span class="title">Bfish</span>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of menuItems | sidenavfilter:user" class="menu-item" [routerLink]="item.path"
        [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" (click)="onMenuItemClick()">
        <span class="icon">
          <mat-icon>{{ item.icon }}</mat-icon>
        </span>
        <span class="title">{{ item.title }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="site-header">
      <div class="section">
        <div class="item menu-button" *ngIf="commonService.isHandset$ | async">
          <button mat-icon-button (click)="onMenuButtonClick()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="item title">
          {{ commonService.pageTitle | async }}
        </div>
      </div>
      <div class="section">
        <ng-container *ngIf="user != null; then headerUser; else headerGuest"></ng-container>
        <ng-template #headerUser>
          <div class="item user" [matMenuTriggerFor]="profileMenu">
            <div class="username">
              {{ user?.username }}
            </div>
            <div class="profile-picture">
              <!-- TODO check if user has profile picture set -->
              <ng-container *ngIf="false; then profilePicture; else profilePlaceholder">
              </ng-container>
              <ng-template #profilePicture>
                <!-- TODO display user profile picture -->
                <img class="profile-picture" src="assets/profile.png">
              </ng-template>
              <ng-template #profilePlaceholder>
                <mat-icon class="profile-picture profile-picture--placeholder">account_circle</mat-icon>
              </ng-template>
            </div>
          </div>
          <mat-menu xPosition="before" #profileMenu="matMenu">
            <button mat-menu-item routerLink="/profile">
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item (click)="onLogoutButtonClick()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span></button>
          </mat-menu>
        </ng-template>
        <ng-template #headerGuest>
          <div class="item login-button">
            <button mat-button routerLink="/login">Login</button>
          </div>
          <div class="item register-button">
            <button mat-button routerLink="/register">Register</button>
          </div>
        </ng-template>
      </div>
    </mat-toolbar>
    <main>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="footer"></app-footer>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
