<div class="container">
  <div class="banner">
    <img src="../../../assets/img/boltz-logo-colored.svg">
  </div>
  <div class="project-info">
    <div class="version">
      {{ appVersion }}
    </div>
    <div class="title">
      Boltzmann File Sharing
    </div>
    <div class="description">
      Bfish is a custom built quick file sharing solution primarily used in pair with
      <a href="https://getsharex.com/" target="_blank" rel="external">ShareX</a>,
      a free screen capturing tool with a wide range of customizability.
    </div>
  </div>
  <div class="group-info">
    <div class="title">
      Who are we?
    </div>
    <div class="about-us">
      We are a small group of friends, and also enthusiastic developers located in Hungary.
      Our main goal is creating a custom ecosystem for the everyday online tasks.
    </div>
    <div class="members">
      <div class="contribution-area">
        <div class="title">Hosting</div>
        <div class="member-list">
          <div class="member" *ngFor="let member of getHosts()">
            {{ member }}
          </div>
        </div>
      </div>
      <div class="contribution-area">
        <div class="title">Development</div>
        <div class="member-list">
          <div class="member" *ngFor="let member of getDevelopers()">
            {{ member }}
          </div>
        </div>
      </div>
      <div class="contribution-area">
        <div class="title">Support</div>
        <div class="member-list">
          <div class="member" *ngFor="let member of getSupporters()">
            {{ member }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
