.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 16px;

  > * {
    max-width: 720px;
  }

  a {
    text-decoration: none;
    color: lightblue;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  .banner {
    img {
      width: 196px;
    }
  }

  .project-info {

    .version {
      font-size: 0.8rem;
      color: #e0e0e0;
    }

    .title {
      font-size: 2.5rem;
      font-weight: 400;
      padding: 16px 0;
    }

    .description {
      color: #e0e0e0;
    }
  }

  .group-info {
    margin-top: 32px;

    > .title {
      font-size: 1.6rem;
      font-weight: 400;
      padding: 16px 0;
    }

    .about-us {
      color: #e0e0e0;
    }

    .members {
      margin-top: 24px;

      .contribution-area {
        margin-top: 8px;

        .title {
          font-size: 1.3rem;
          font-weight: 400;
          padding: 8px 0;
        }

        .member-list {
          .member {
            color: #e0e0e0;
          }
        }
      }
    }
  }
}
