@use '@angular/material' as mat;

.footer {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 50%);
  background-color: #393939;

  @include mat.elevation(1);
}
