<div class="auth-form-container">
  <!-- <h1>Login</h1> -->
  <form (ngSubmit)="onSubmit()" class="auth-form" [formGroup]="loginForm">
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" name="username" required cdkFocusInitial>
      <mat-error *ngIf="loginForm.controls.username.invalid">{{ getUsernameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" name="password" required>
      <mat-error *ngIf="loginForm.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="persistent" name="persistent">
      Remember me
    </mat-checkbox>
    <div class="actions">
      <button mat-flat-button type="button" routerLink="/forgotten-password">Forgot password</button>
      <button mat-flat-button color="accent" type="submit">Log in</button>
    </div>
  </form>
</div>
