<div class="card-container">
  <mat-card class="info-card" routerLink="/files">
    <mat-card-title class="info-card__title">
      Storage
    </mat-card-title>
    <mat-card-content>
      <div class="storage-indicator">
        <div class="storage-indicator__circle">
          <mat-progress-spinner class="storage-indicator__circle__spinner" [color]="'primary'" [strokeWidth]="25" [mode]="'determinate'"
            [value]="storageUsage">
          </mat-progress-spinner>
          <div class="storage-indicator__circle__percentage">
            75%
          </div>
        </div>
        <div class="storage-indicator__exact">
          768MB used out of 1GB
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card" routerLink="/account">
    <mat-card-title class="info-card__title">
      Account
    </mat-card-title>
    <mat-card-content>
      <div class="storage-indicator">
        Hello
      </div>
    </mat-card-content>
  </mat-card>
</div>