.card-container {
  display: flex;
  justify-content: center;
}

.info-card {
  width: 18rem;
  cursor: pointer;
  margin: 0.5rem;
}

.info-card__title {
  text-align: center;
}

.storage-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storage-indicator__circle {
  position: relative;
  width: fit-content;
  margin: 1rem;
}

.storage-indicator__circle__percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}