<div class="container" [class.visible]="visible" [class.error]="error">
  <div class="background"></div>
  <div class="content">
    <div class="loading-indicator">
      <div class="banner">
        <img src="../../../assets/img/boltz-logo.svg">
      </div>
    </div>
    <div class="error-message">
      <div class="mat-h1">
        BFish is temporarily down.
      </div>
      <div class="mat-body">
        Please try again later!
      </div>
    </div>
  </div>
</div>
