.container {
  z-index: 1001;
  position: fixed;
  inset: 0;
  opacity: 0%;
  transition: opacity 250ms;

  &.visible {
    opacity: 100%;
  }

  &.error {
    .background {
      filter: saturate(0%) brightness(50%);
    }

    .content {
      .loading-indicator {
        filter: blur(16px) brightness(50%);
      }
  
      .error-message {
        opacity: 100%;
      }
    }
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(150deg, rgba(216,27,96,1) 0%, rgba(125,17,56,1) 100%);
    transition: backgrund-color 1000ms, filter 1000ms;
  }

  .content {
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .loading-indicator {
      user-select: none;
  
      .banner {
        position: relative;
        max-width: 50vw;
        width: 256px;
  
        img {
          animation-name: floating;
          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
          z-index: 10;
          pointer-events: none;
        }
  
        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          z-index: -1;
          width: 80%;
          height: 5%;
          border-radius: 50%;
          content: '';
          background-color: #00000030;
          filter: blur(4px);
  
          animation-name: dilating;
          animation-duration: 3s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: infinite;
        }
      }
    }

    .error-message {
      color: white;
      font-weight: 400;
      max-width: 90vw;
      opacity: 0%;
      text-align: center;
      transition: opacity 1000ms;
  
      p:first-of-type {
        font-size: 2rem;
      }
  
      p:not(:first-of-type) {
        font-size: 1rem;
      }
    }
  }
}
  
@keyframes floating {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-16px); }
  100% { transform: translateY(0); }
}

@keyframes dilating {
  0%   { transform: translateX(-50%) scale(1); }
  50%  { transform: translateX(-50%) scale(0.9); }
  100% { transform: translateX(-50%) scale(1); }
}