<div class="item" [class.selected]="isSelected" [class.mobile]="commonService.isHandset$ | async"
  (click)="onDetailsClick()" #container>
  <div class="icon" (click)="onSelectClick(); $event.stopPropagation()">
    <span class="face front" [class]="extension | fileType">
      <mat-icon [ngSwitch]="fileType">
        <ng-container *ngSwitchCase="FileType.Audio">headphones</ng-container>
        <ng-container *ngSwitchCase="FileType.Video">movie</ng-container>
        <ng-container *ngSwitchCase="FileType.Image">image</ng-container>
        <ng-container *ngSwitchCase="FileType.Text">notes</ng-container>
        <ng-container *ngSwitchCase="FileType.Document">description</ng-container>
        <ng-container *ngSwitchCase="FileType.Archive">archive</ng-container>
        <ng-container *ngSwitchCase="FileType.Font">text_fields</ng-container>
        <ng-container *ngSwitchCase="FileType.Other">question_mark</ng-container>
      </mat-icon>
    </span>
    <div class="face back">
      <span class="selection"><span class="checkmark"></span></span>
    </div>
  </div>
  <div class="name">
    <ng-container *ngIf="container.classList.contains('mobile')">
      <span>{{ fileName }}</span>
    </ng-container>
    <ng-container *ngIf="!container.classList.contains('mobile')">
      <a target="_blank" [href]="link" (click)="$event.stopPropagation()">{{ fileName }}</a>
    </ng-container>
  </div>
  <div class="date" title="Upload date">
    {{ file?.uploadDate | date:'yyyy. MMM d. H:mm' }}
  </div>
  <div class="size" title="Size">
    {{ file?.sizeInBytes ?? 0 | filesize }}
  </div>
</div>
