.item {
	display: grid;
	grid-template-areas:
	  "icon name size"
	  "icon date size";
	grid-template-columns: max-content auto max-content;
	grid-template-rows: 1fr 1fr;
	column-gap: 8px;
	row-gap: 4px;
	padding: 8px;
	border-radius: 8px;
	overflow: hidden;
	transition: background-color 125ms;
  cursor: pointer;

  &.selected {
    background-color: rgba(255, 255, 255, 20%);

    > .icon {
      transform: rotateY(180deg);

      > .face.back > .selection > .checkmark {
        transform: translateY(-20%) rotate(-50deg) scale(1);
      }
    }
  }

  &.mobile {
    .size {
      display: none;
    }
  }

  .icon {
    grid-area: icon;
    align-self: center;
    position: relative;
    width: 40px;
    height: 40px;

    border-radius: 50%;
    cursor: pointer;
    transition: 250ms;
    transform-style: preserve-3d;

    > .face {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      backface-visibility: hidden;

      display: flex;
      justify-content: center;
      align-items: center;

      &.front {
        background-color: hsl(0, 0, 45%);

        &.image {
          background-color: hsl(96, 60%, 45%);
        }
  
        &.audio {
          background-color: hsl(0, 60%, 45%);
        }
  
        &.video {
          background-color: hsl(210, 60%, 45%)
        }

        &.text {
          background-color: hsl(45, 60%, 45%);
        }

        &.document {
          background-color: hsl(187, 50%, 45%);
        }

        &.archive {
          background-color: hsl(27, 60%, 45%);
        }

        &.font {
          background-color: hsl(308, 60%, 45%);
        }

        .mat-icon {
          width: 20px;
          height: 20px;
          font-size: 20px;
          line-height: 20px;
        }
      }
  
      &.back {
        background-color: #60a0d0;
        transform: rotateY(180deg);

        > .selection {
          content: ' ';
    
          > .checkmark {
            content: ' ';
            display: block;
            width: 14px;
            height: 7px;
            border-style: solid;
            border-color: #505050;
            border-width: 0 0 2.5px 2.5px;
            transition: transform 125ms 125ms;
            transform: translateY(-20%) rotate(-50deg) scale(0.3);
          }
        }
      }
    }
  }

  .name {
    grid-area: name;
    align-self: end;

    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;

    > a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .date {
    grid-area: date;
    align-self: start;
    font-size: 0.8rem;
    font-weight: 300;
    color: #b0b0b0;
    width: fit-content;
  }

  .size {
    grid-area: size;
    align-self: center;
    font-size: 0.9rem;
    color: #b0b0b0;
    width: fit-content;
  }
}

@media (hover: hover) {
  .item:hover {
    background-color: rgba(255, 255, 255, 10%);
  }
}