<div class="auth-form-container">
  <!-- <h1>Registration</h1> -->
  <form (ngSubmit)="onSubmit()" class="auth-form" [formGroup]="registrationForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" name="email" required cdkFocusInitial>
      <mat-error *ngIf="registrationForm.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" name="username" required>
      <mat-error *ngIf="registrationForm.controls.username.invalid">{{ getUsernameErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" name="password" required>
      <mat-error *ngIf="registrationForm.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Retype password</mat-label>
      <input matInput type="password" formControlName="password2" name="password2" required>
      <mat-error *ngIf="registrationForm.controls.password2.invalid">{{ getPassword2ErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Invitation token</mat-label>
      <input matInput type="text" formControlName="magicKey" name="magicKey" required>
      <mat-error *ngIf="registrationForm.controls.magicKey.invalid">{{ getMagicKeyErrorMessage() }}</mat-error>
    </mat-form-field>
    <button mat-button type="submit">Register</button>
  </form>
</div>
