<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field>
    <mat-label>Current email</mat-label>
    <input matInput type="email" [value]="currentEmail" disabled>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>New email</mat-label>
    <input matInput type="email" formControlName="email" name="email">
    <mat-error *ngIf="form.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>
  <button mat-button type="submit">Change email address</button>
</form>
