<div class="auth-form-container">
  <form class="auth-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>New password</mat-label>
      <input matInput type="password" formControlName="newPassword" name="newPassword" required>
      <mat-error *ngIf="form.controls.newPassword.invalid">{{ getNewPasswordErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Retype new password</mat-label>
      <input matInput type="password" formControlName="newPassword2" name="newPassword2" required>
      <mat-error *ngIf="form.controls.newPassword2.invalid">{{ getNewPassword2ErrorMessage() }}</mat-error>
    </mat-form-field>
    <div class="actions">
      <button mat-button type="submit">Change password</button>
    </div>
  </form>
</div>
