<div class="container" [class.mobile]="commonService.isHandset$ | async" 
  appDropToUpload 
  (filesDrop)="onFilesDrop($event)"
  [overlay]="dropToUploadOverlay">

  <div class="header">
    <div class="filter-container">
      <form [formGroup]="filter">
        <mat-form-field appearance="standard" class="search compact">
          <mat-label>Search</mat-label>
          <input matInput type="text" formControlName="fullName">
        </mat-form-field>
      </form>
    </div>
  
    <div class="sort-container">
      <button mat-icon-button [matMenuTriggerFor]="sortMenu" matTooltip="Sort">
        <mat-icon>sort</mat-icon>
      </button>
    </div>

    <div class="refresh-container">
      <button mat-icon-button matTooltip="Refresh" (click)="onRefreshButtonClick()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>

  <div class="files">
    <ng-container *ngFor="let file of fileList.items; last as isLast">
      <app-file-preview
        [file]="file"
        [link]="generateLink(file)"
        [selected]="selection.isSelected(file)"
        (selectClick)="onSelect(file)"
        (detailsClick)="onDetailsButtonClick(file)">
      </app-file-preview>
    </ng-container>
    <div class="placeholder" *ngIf="fileList.totalItems <= 0">
      <ng-container *ngIf="commonService.isLoading | async; then placeholderLoading; else placeholderEmpty"></ng-container>
      <ng-template #placeholderLoading>
        <span>Loading files..</span>
      </ng-template>
      <ng-template #placeholderEmpty>
        <span *ngIf="fileList.totalItems === 0 && !errorLoadingFiles">No files found</span>
        <span *ngIf="errorLoadingFiles">Error loading files</span>
      </ng-template>
    </div>
  </div>

  <div class="toolbar">
    <button mat-fab class="upload-fab" [class.uploading]="isUploading"
      (click)="isUploading ? null : fileInput.click()"
      matTooltip="Upload file">
      <input type="file" #fileInput hidden (change)="onUploadFileChosen(fileInput.files)" />
      <div class="fab-content uploading-file">
        {{ uploadProgress }}%
        <mat-progress-spinner
            class="upload-progress"
            [diameter]="58"
            mode="determinate"
            [value]="uploadProgress">
        </mat-progress-spinner>
      </div>
      <div class="fab-content choose-file">
        <mat-icon>add</mat-icon>
      </div>
    </button>

    <div class="selection" [class.visible]="!selection.isEmpty()">
      <div class="selection-content">
        <button mat-icon-button
          (click)="onClearSelectionClick()"
          matTooltip="Clear selection">
          <mat-icon>clear</mat-icon>
        </button>
        <div class="selection-display">
          {{ selectionDisplay }}
        </div>
        <div class="group-actions">
          <button mat-icon-button color="warn"
            (click)="onDeleteSelectionButtonClick()"
            matTooltip="Delete selected files">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="toolbar-content">
      <button mat-icon-button class="select-all-button"
        (click)="onSelectAllClick()"
        matTooltip="Select all">
        <mat-icon>select_all</mat-icon>
      </button>
  
      <mat-paginator class="paginator"
        [length]="fileList.totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPaginatorValueChange($event)">
      </mat-paginator>
    </div>
  </div>

</div>

<div class="drop-to-upload-overlay" #dropToUploadOverlay>
  <div class="icon"><mat-icon>publish</mat-icon></div>
  <div class="title">Drop to upload</div>
</div>

<mat-menu #sortMenu="matMenu">
  <ng-container *ngFor="let sortingOptionGroup of sortingOptions">
    <button mat-menu-item [matMenuTriggerFor]="sortOptionChildren" role="menuitemradio"
      [class.mat-menu-item-highlighted]="(sort$ | async)?.active === sortingOptionGroup.children[0].value.active">
      <mat-icon>{{ sortingOptionGroup.icon }}</mat-icon>
      <span>{{ sortingOptionGroup.displayName }}</span>
    </button>
    <mat-menu #sortOptionChildren="matMenu">
      <ng-container *ngFor="let sortOption of sortingOptionGroup.children">
        <button mat-menu-item (click)="onSortChange(sortOption)" role="menuitemradio"
          [class.mat-menu-item-highlighted]="(sort$ | async)?.active === sortOption.value.active && (sort$ | async)?.direction === sortOption.value.direction">
          <span>{{ sortOption.displayName }}</span>
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>
</mat-menu>