:host {
  display: block;
  height: 100%;

  .container {
    position: relative;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #303030;
      
      display: flex;
      align-items: center;
      padding: 8px 16px 8px 12px;
      gap: 8px;
      height: 48px;

      .filter-container {
        flex-grow: 1;

        .mat-form-field.search {
          width: 100%;
          margin-top: -13px;
    
          .form-field-icon {
            padding: 0 0.5rem;
          }
        }
      }
    }
  
    .files {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 4px;
  
      .mat-divider {
        margin: 2px 12px;
      }
    }
  
    .placeholder {
      display: flex;
      height: 128px;
      justify-content: center;
      align-items: center;
    }

    .toolbar {
      position: sticky;
      bottom: 0;
      z-index: 1;
      background: radial-gradient(circle at 50% 0%, transparent calc(28px + 8px), #393939 0px);
      padding-top: 28px;
      margin-top: 28px;

      .upload-fab {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        z-index: 1;
      
        .upload-progress {
          position: absolute;
          top: -1px;
          left: -1px;
        }
      
        .fab-content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: 200ms;
        }
      
        &:not(.uploading) {
          .choose-file {
            opacity: 1;
          }
          .uploading-file {
            opacity: 0;
          }
        }
      
        &.uploading {
          .choose-file {
            opacity: 0;
          }
          .uploading-file {
            opacity: 1;
          }
        }
      }

      .selection {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height 250ms;
  
        &.visible {
          height: 56px;
        }
  
        .selection-content {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
  
          display: flex;
          align-items: center;
          gap: 8px;
          height: 56px;
          padding: 8px 16px 8px 12px;
          box-sizing: border-box;
  
          .selection-display {
            font-weight: 400;
          }
  
          .group-actions {
            margin-left: auto;
          }
        }
      }

      .toolbar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;

        .paginator {
          background-color: transparent;
        }
      }
    }
  
  }

  .drop-to-upload-overlay {
    visibility: hidden;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);

    pointer-events: none;

    &.file-hover {
      visibility: visible;
    }

    .icon {
      .mat-icon {
        font-size: 6rem;
        width: 6rem;
        height: 6rem;
      }
    }
    .title {
      font-size: 1.5rem;
    }
  }
}