:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 8px 8px 8px;

  .data-display {
    position: relative;
  
    .value {
      background-color: rgba(0, 0, 0, 25%);
      overflow: auto;
      border-radius: 8px;
      padding: 16px 8px;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 1rem;
    }
  
    .copy-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
    }
  }
}
