<mat-card>
  <mat-card-header>
    <mat-card-title>API key</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-display">
      <div class="value" [innerHTML]="user?.apiKey ?? 'Error loading API key'"></div>
      <div class="copy-button">
        <button mat-icon-button aria-label="Copy" (click)="user == null || user.apiKey == null ? null : onCopyButtonClick(user.apiKey)" matTooltip="Copy to clipboard">
          <mat-icon>filter_none</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-button class="action" aria-label="Copy"
      (click)="onCopyButtonClick(sharexConfig)">
      Copy ShareX config
    </button> -->
    <button mat-button aria-label="Reset API key"
      (click)="onResetApiKeyButtonClick()"
      color="warn">
      Reset API key
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>ShareX configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="data-display">
      <div class="value" [innerHTML]="sharexConfigHtml"></div>
      <div class="copy-button">
        <button mat-icon-button class="action" aria-label="Copy" (click)="sharexConfig == null ? null : onCopyButtonClick(sharexConfig)" matTooltip="Copy to clipboard">
          <mat-icon>filter_none</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Email address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-change-email [currentEmail]="user?.email"></app-change-email>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-change-password></app-change-password>
  </mat-card-content>
</mat-card>
