.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  .title {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .close-button {
    margin: -4px;
  }
}

.mat-dialog-content {
  &.mobile {
    .properties {
      gap: 12px;

      .property {
        flex-direction: column;
        gap: 2px;

        .name {
          font-size: 0.9rem;
        }
      }
    }
  }

  .properties {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .property {
      display: flex;

      .name {
        color: rgba(255, 255, 255, 75%);
        width: 128px;
      }
    }
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
}
