<h1 mat-dialog-title>
  <div class="title" #title
    [title]="title.scrollWidth > title.offsetWidth ? fileName : ''">
    {{ fileName }}
  </div>
  <button mat-icon-button class="close-button"
    (click)="onCloseClick()" 
    matTooltip="Close" 
    cdkFocusInitial>
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content [class.mobile]="commonService.isHandset$ | async">
  <div class="properties">
    <div class="property">
      <div class="name">Size:</div>
      <div class="value">{{ data.file.sizeInBytes | filesize }}</div>
    </div>
    <div class="property">
      <div class="name">Upload date:</div>
      <div class="value">
        {{ data.file.uploadDate | date:'yyyy. MMM d. H:mm' }}
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <a [href]="data.link" target="_blank" mat-icon-button matTooltip="Open in new tab"><mat-icon>open_in_new</mat-icon></a>
  <button mat-icon-button (click)="onDownloadClick()" matTooltip="Download"><mat-icon>file_download</mat-icon></button>
  <button mat-icon-button (click)="onCopyLinkClick()" matTooltip="Copy link"><mat-icon>link</mat-icon></button>
  <button mat-icon-button (click)="onShareClick()" matTooltip="Share"><mat-icon>share</mat-icon></button>
  <button mat-icon-button color="warn" (click)="onDeleteClick()" matTooltip="Delete"><mat-icon>delete</mat-icon></button>
</div>
