<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <p *ngFor="let message of data.message">{{ message }}</p>
  <ul *ngIf="data.items != null && data.items.length > 0">
    <li *ngFor="let item of data.items">{{ item }}</li>
  </ul>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
  <button mat-button (click)="onConfirmClick()">Yes</button>
</div>
