<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Current password</mat-label>
    <input matInput type="password" formControlName="password" name="password">
    <mat-error *ngIf="form.controls.password.invalid">{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>New password</mat-label>
    <input matInput type="password" formControlName="newPassword" name="newPassword">
    <mat-error *ngIf="form.controls.newPassword.invalid">{{ getNewPasswordErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Retype new password</mat-label>
    <input matInput type="password" formControlName="newPassword2" name="newPassword2">
    <mat-error *ngIf="form.controls.newPassword2.invalid">{{ getNewPassword2ErrorMessage() }}</mat-error>
  </mat-form-field>
  <button mat-button type="submit">Change password</button>
</form>
