@use '@angular/material' as mat;
@import '@angular/material/theming';

$bfish-typography: mat.define-legacy-typography-config($font-family: '"Rubik", sans-serif;');

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($bfish-typography);`
@include mat.all-legacy-component-typographies($bfish-typography);
@include mat.legacy-core();

$bfish-app-primary: mat.define-palette(mat.$pink-palette, 600, 400, 800);
$bfish-app-accent: mat.define-palette(mat.$cyan-palette, 400, 200, 600);
$bfish-app-warn: mat.define-palette(mat.$red-palette);

$bfish-app-theme: mat.define-dark-theme($bfish-app-primary, $bfish-app-accent, $bfish-app-warn);

@include mat.all-legacy-component-themes($bfish-app-theme);

$primary: mat.get-color-from-palette($bfish-app-primary);
$accent: mat.get-color-from-palette($bfish-app-accent);
$warn: mat.get-color-from-palette($bfish-app-warn);
