/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

// Custom

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 50%);
    border-radius: 8px;
    background-clip: padding-box;
    border: 4px solid transparent;
    &:hover {
      background: rgba(255, 255, 255, 75%);
      background-clip: padding-box;
      border: 4px solid transparent;
    }
  }
}

// Material

.mat-card-title {
  font-weight: 400;
}

.mat-button {
  font-weight: 400;
}

.upload-progress circle {
  stroke: #ffffff;
}

.mat-form-field {
  &.compact {
    &.mat-form-field-appearance-standard {
      .mat-form-field-wrapper {
        padding-bottom: 0;

        .mat-form-field-flex {
          padding-top: 0;
        }
        .mat-form-field-underline {
          bottom: 0;
        }
      }
    }
  }

  &.with-icon {
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-suffix {
          align-self: center;
        }
      }
    }
  }
}