.auth-form-container {
  display: flex;
  justify-content: center;
}
.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 256px;

  .mat-form-field {
    width: 100%;
  }
}
.mat-checkbox {
  margin-bottom: 16px;
}
:host {
  position: relative;
  display: block;
  height: 100%;
}
