<div class="auth-form-container">
  <!-- <h1>Login</h1> -->
  <form (ngSubmit)="onSubmit()" class="auth-form" [formGroup]="forgottenPasswordForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" name="email" required cdkFocusInitial>
      <mat-error *ngIf="forgottenPasswordForm.controls.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit">Reset password</button>
  </form>
</div>
